
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    color: white;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #555;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
    z-index: 1;
}

.dropdown-content li a {
    padding: 10px 15px;
    color: white;
    white-space: nowrap;
}

.dropdown-content li a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


@media (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
    }

    .navbar ul li {
        width: 100%;
    }
}
